name: Run Test Cases
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    name: Run Unit Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14]
    steps:
      - name: Install node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Check out the repository
        uses: actions/checkout@v2
      - name: Install node modules
        run: |
          npm i -g pnpm
          pnpm install
      - name: Run unit tests
        run: pnpm test -- --ci --coverage=false
      - name: Run E2E tests
        run: pnpm run e2e
